#ignore object files and nonsense like that
*.[oa]
Admin/main
Connector_HTTP/Connector_HTTP
Buffer/Buffer
Connector_RTMP/Connector_RTMP
Connector_RTSP/Connector_RTSP
*~
bin/*
gearbox/plugins/001_putserversup.sh
AMF_Tester/AMFtest
AMF_Creator/AMFtest
ABST_Parser/Box_Parser
