#ignore object files and nonsense like that
*.[oa]
Admin/main
Connector_HTTP/DDV_Conn_HTTP
Buffer/DDV_Buffer
Connector_RTMP/DDV_Conn_RTMP
Connector_RTSP/DDV_Conn_RTSP
Connector_RTSP/Connector_RTSP
Connector_RAW/DDV_Conn_RAW
*~
bin/*
docs
gearbox/plugins/001_putserversup.sh
AMF_Tester/AMFtest
AMF_Creator/AMFtest
ABST_Parser/Box_Parser
HTTP_Box_Parser/Box_Parser
gearbox/CPP/Client/Gearbox_Client
*.ts

