#ignore object files and nonsense like that
*.[oa]
*~
.deps
Makefile
Makefile.in
version.m4
docs
nbproject
autom4te.cache
src/Mist*
src/analysers/Mist*
src/converters/Mist*
configure
config.log
config.status

