[Unit]
Description=MistServer
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=2
TasksMax=infinity
TimeoutStopSec=60
Environment=MIST_LOG_SYSTEMD=1
ExecStart=/usr/bin/MistController -c /etc/mistserver.conf
ExecReload=/bin/kill -s USR1 $MAINPID

[Install]
WantedBy=multi-user.target
