


:-moz-placeholder { color: #999 !important; }



body
{
   background-color: #fafafa;
   margin: 0;
}

#page
{
   overflow-y: hidden;
   overflow-x:auto;
   /*margin: 10px -170px 0 230px;   */
   padding: 0;


   padding: 10px 10px 10px 10px;
}



.floatright
{
   float: right;
}




/* content - tables */

table
{
   width: 100%;
}

table
{
   border-spacing: 0 4px;
}

table thead
{
   background-color: #c8c8c8;
}

table th, table td
{
   height: 30px;
   padding: 0 0 0 30px;
}

table th
{
   color: #505050;
   text-align: left;
}

table td
{
   color: #505050;
   vertical-align:top;
}


tbody tr:nth-child(even)
{
   background-color: #f0f0f0;
}
tbody tr:nth-child(odd)
{
   background-color: #f3f3f3;
}





/* login stuff */

#login
{
   width: 250px;
}

#login > input
{
   display: block;
   margin: 5px 0 13px 0;
   width: 240px;
}

/* connect button */

#login > button
{
   float: right;
   margin: 0;
}



/* input general */
input, select
{
   padding: 5px;
   color: #505050;
   border: 1px solid #b4b4b4;
}

button
{
   height: 30px;
   background-color: #505050;
   color: #fff;
   border: 0;
   margin: 0 2px 0 2px;
}


tbody button,
tbody select,
tbody input
{
   height: 22px;
   padding: 2px;
}

tbody td button
{
   text-transform: uppercase;
   font-weight: bold;
   padding: 2px 7px 2px 7px;
}

tbody td.center
{
   text-align: center;
}


#page > button
{
   margin: 12px 0 6px 0;
}


/* header */

#header
{
   margin: 30px 0 0 0;
   width: 100%;
   background-color: #b4b4b4;
   height: 30px;
}

#header-title
{
   padding: 0 0 0 30px;
   float: left;
}

#header-status
{
   float: right;
   padding: 0 30px 0 0;
}

#header-title, #header-status
{
   line-height: 30px;
}

.disconnected, .red
{
   color: #cc3333;
}

.connected, .green
{
   color: #14991a;
}

.orange
{
   color: #ff8a00;
}

.loggingin
{
   color: #ee8833;
}

#header
{
   color: #fafafa;
}



/* navigation */

#nav
{
   float: left;
   width: 200px;
   list-style: none;
   padding: 0;
   margin: 10px 0 0 0;
}

#nav li
{
   display: block;
   color: #b4b4b4;
   line-height: 30px;
   padding: 0 0 0 30px;
   margin: 5px 0 5px 0;
   cursor: pointer;
}

#nav li:hover, #nav .selected
{
   color: #505050;
   background-color: #c8c8c8;
}

li#logoutbutton
{
   color: #cc3333;
}


p, label
{
   color: #505050;
}

p
{
   margin-top: 8px;
}

label
{
   display: block;
   margin: 6px 0 9px 0;
   padding: 8px 0 0 0;
   width: 600px;
}

label input,
label select
{
   float: right;
   margin: -8px 0 0 0;
   width: 225px;
}

label span, label button
{
   float: right;
}


#editserver
{
   width: 600px;

   float: left;
}



thead th .theadinfo
{
   color: #848484;
   padding: 0 0 0 10px;
   font: normal normal 9pt Arial, sans-serif;
}




/* fonts */

#header-title > span, #header-connection, #header-host,
#nav,
th,
#login > button,
p,
span,
label,
button,
#page label input,
#page label select,
#page > button,
#editserver > button, 
#forcesave > button,
#editprotocol > button
{
   font: normal bold 11pt Arial, sans-serif;
   text-transform: uppercase;
}

span {
   font-weight: normal;
   text-transform: none ;
}


.nocapitals
{
   text-transform: none ;
}

#editserver label input
{
   text-transform: none;
   font-weight: normal;
}

#login > input
{
   font: normal bold 11pt Arial, sans-serif;
}

td
{
   font: normal normal 10pt Arial, sans-serif;
}

#streams-filter
{
   height: 30px;
   margin: 5px 0 0 0;

   text-align: right;
   line-height: 30px;
}

#streams-filter label
{
   margin: 0 15px 0 25px;
   padding: 0;
   display: inline-block;
   width: auto;
}

#streams-filter input
{
   float: none;
   margin: 0 0 0 10px;
   width: auto;
   padding: 0;
}
.sortable th.sort-type-string, .sortable th.sort-type-int, .sortable th.sort-type-float
{
   background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAAXNSR0IArs4c6QAAAAJiS0dEAP+Hj8y/AAAACXBIWXMAAB7BAAAewQHDaVRTAAAAB3RJTUUH3AcJDTYyLxO2yAAAAMFJREFUKM9jYCANpDIXsKKKMCFzklz03jH4oSpgRDATBI2fSXB8/nFHuu0dFhNi+eW2CnJ8/sPPIbWlhR+LArntKpav71+3eHdfzlJ8OxYFIlqv7z+27T771Pb9fT4tHH4oYGVgSBLB4chFH768u2Xx9e1fCYXDLEJVAmhWtPF/vSahqHKC3UDjsIzix2tYTGjhF9guafnxDxvLreP3PRd/xBIOTUKKT3k5Xv44Kz3rHQ5HNkTM/1gUgTcuatkYqA4AA3Q+q+vKxecAAAAASUVORK5CYII=) no-repeat 5px 50%;
}

.sortable th.sortasc
{
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAB3RJTUUH1wsGDC4ch0hE/QAAAAlwSFlzAAAewQAAHsEBw2lUUwAAAARnQU1BAACxjwv8YQUAAACzSURBVHjaY2CgOWCEMVZ++PHuvm3D0yJp6cNMQoUCMHEmGOPTNUFF6cOlxrKHRRXfXEOYwAJjvPT8uV3SUvMEG8ut4488sVjBwFAlpPKUl+PFj7PSC97hcFBBxOSPSRE4HLnow5d3t2y/vv4rqnCYRagK3ZFt/F+vSSiqHGbX1Tgso/jxGhYTWvgFgI78+AfkyPueiz9icWSTkCLQkS+BjpyFy5ENEfM/FkUw4AO1bNSPLACvpT+/u8Qi7wAAAABJRU5ErkJggg==);
}

.sortable th.sortdesc
{
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAB3RJTUUH1wsGDC4gqCc4egAAAAlwSFlzAAAewQAAHsEBw2lUUwAAAARnQU1BAACxjwv8YQUAAADDSURBVHjaY2AgDdSyoYswI3MaGBT/KjMcR1HAhGA2MTBEMHxkiEhDUcAIY7Qw/BNSfMrL8fLHWenv7xZjMYFfaAsXx7s/3BwSWxj4Maxo4xfeLmX5/P45i2f3FSyltmOxYtGHL+9u2X59/VdU4TCLUJUAVk8WREz+mBSBKsaIYFYJqQAd+QLoyAXvsHizhV9qCz/H5z+CHHJbYvmxKBDfLmf57v51i9f3VSzltmNRwKf1/v5T2+6zj21f3xfRIjGGKAMAccw+PBxJau0AAAAASUVORK5CYII=);
}
#protocoldesc p
{
   font-weight: normal;
   text-transform: none;
}
#protocolfields 
{
   margin-top: 10px;
}
#page label input#protocol-parameter-username
{
   text-transform: none;
}

#forcesave
{
   width: 600px;
   float: left;
   margin-top:20px;
}

#forcesave button
{
   float: right;
}

#forcesave p
{
   text-transform: none;
   width:500px;
   float:right;
}


#shield
{
   position: absolute;
   background-color: #fff;
   background-color: rgba(255, 255, 255, 0.5);
   left: 0;
   top: 60px;
   z-index: 5;

   width: 100%;
   height: 100%;

   color: #505050;
   font: normal bold 11pt Arial, sans-serif;
   text-align: center;
   padding: 50px 0 0 0;
}

.datacont label span
{
   font-weight: normal;
   text-transform: none;
}
.datacont label 
{
   padding-left: 25px;
}
.datacont p 
{
   margin-top: 25px;
   margin-bottom: 0px;
}

#tooltip 
{
	position: absolute;
	border: 1px solid black;
	display: none;
	padding: 2px;
	background-color: #fee;
	opacity: 0.8;
	color: black;
	font: normal normal 11pt Arial, sans-serif;
}